<footer class="row footerbackground">
  <div class="col-xs-8">

  </div>
  <ul class="col-xs-2 direita2">
    <li><b>Redes sociais</b></li>
    <img src="../../assets/img/insta.png" alt="Logo da rede social instagram">
    <img src="../../assets/img/link.png" alt="Logo da rede social linkedin">
    <img src="../../assets/img/twitt.png" alt="Logo da rede social twitter">
  </ul>
  <ul class="col-xs-2 direita">
    Gabrielly Ribeiro
    <p>Copyright© 2019 Todos os direitos reservados.</p>
  </ul>
</footer>
