<header class="row">
  <div class="col-md-4">
    <a href="" class="logo">
      <img class="esquerda" src="../../assets/img/hakusho.jpg" alt="Logo da gaby">
    </a>
  </div>
  <nav class="col-md-8">
    <ul>
      <li>
        <a [routerLink]="'/corpo'"> Galeria</a>
      </li>
      <li>
        <a [routerLink]="'/conteudo'"> Tabela</a>
      </li>
      <li>
        <a [routerLink]="'/post-id'"> Busca pelo ID</a>
      </li>
      <li>
        <a href="#link4">Link 4</a>
      </li>
    </ul>
  </nav>

</header>
